.booking {
    background-color: var(--color-dark-violet);
    padding-top: 80px;
    padding-bottom: 80px;
}

.booking__intartaiment-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: none;
    padding: 0;
    margin: 0 0 60px;
    gap: 100px;
}


.booking__date-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
    margin-bottom: 40px;
    padding: 0;
    border: none;
}

.booking__form-wrapper-inner {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    padding: 0;
}

/* .booking__form-wrapper-inner_width_280 {
    width: 100%;
    max-width: 280px;
}

.booking__form-wrapper-inner_width_300 {
    width: 100%;
    max-width: 300px;
} */

.booking__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 60px;
}

.booking__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.booking__subtitle-inner {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: left;
    color: #fff;
    margin-bottom: 23px;
}

.booking__hall-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    text-align: center;
    display: inline-block;
    width: 250px;
    padding: 7px 15px;
    margin-right: 60px;
    border-radius: 8px;
    cursor: pointer;
    border: 3px solid var(--color-dark-violet);
}

.booking__input-group input + label {
    transition-duration: 0.3s;
}

.booking__input-group input[type=radio]:checked + label {
	background: #fff;
    color: #000;
}

.booking__input-group input[type=radio]:hover + label {
	border: 3px solid var(--color-dark-purple);
    background-color: var(--color-grey);
    color: #000;
}

.booking__input-group input[type=radio]:focus + label {
	border: 3px solid var(--color-dark-purple);
    background-color: #fff;
    color: #000;
}

.booking__input-group input[type=radio]:active + label {
    border: 3px solid #fff;
	background-color: var(--color-violet);
    color: #fff;
}

.booking__hall-text:last-child {
    margin-right: 0;
}

.booking__halls-wrapper {
    border: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 0;
    align-items: center;
}

.booking__variants-text {
    font-weight: 400;
    font-size: 22px;
    color: #fff;
}

.booking__input-circle {
    width: 27px;
    height: 27px;
    vertical-align: middle;
    margin-right: 12px;
    outline: none;
    position: relative;
}

.booking__input-circle:focus::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 33px;
    height: 33px;
    border-radius: 0;
    border: 1px solid var(--color-pink);
    background-color: transparent;
}

.booking__input-square {
    width: 27px;
    height: 27px;
    vertical-align: middle;
}

.checkbox-input {
    position: relative;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 39px;
}

.booking__input-square {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: -39px;
    outline: none;
}

.booking__input-square:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    height: 27px;
    background-color: #fff;
}

.booking__input-square::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 18px;
    height: 10px;
    border: 3px solid rgb(255, 255, 255);
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
}

.booking__input-square:checked::before {
    background-color: blue;
}

.booking__input-square:checked::after {
    opacity: 1;
}

.booking__input-square:focus::before {
    border: 1px solid var(--color-pink);
}

.booking__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    margin-bottom: 6px;
}

.booking__input {
    border: none;
    margin-bottom: 14px;
    padding: 12px 20px;
    font-size: 18px;
    color: #211E1E;
    line-height: 156%;
}

.booking__input:focus {
    outline: 2px solid var(--color-pink);
}

.booking__input::-webkit-input-placeholder {
    line-height: 156%;
    padding: 0;
    color: #211E1E;
}

.booking__input:last-child {
    margin-bottom: 0;
}

.booking__form-wrapper-date {
    border: none;
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    gap: 36px;
    padding: 0;
}

.booking__form-wrapper-name{
    border: none;
    display: flex;
    flex-basis: 280px;
    flex-direction: column;
    padding: 0;
}

.booking__form-wrapper-contact{
    border: none;
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    padding: 0;
}

.booking__date-time {
    display: flex;
    gap: 32px;
}

.booking__input-dt {
    position: relative;
    max-width: 134px;
    width: 100%;
    padding: 12px 20px;
    border: none;
    font-size: 18px;
    line-height: 156%;
}

.booking__input-dt:focus {
    outline: 2px solid var(--color-pink);
}

.booking__input-dt::-webkit-datetime-edit-day-field {
    padding: 0;
} 

.booking__input-dt::-webkit-datetime-edit-month-field {
    padding: 0;
}

.booking__input-dt::-webkit-datetime-edit-year-field {
    padding: 0;
}

.booking__input-dt::-webkit-datetime-edit-hour-field {
    padding: 0;
}

.booking__input-dt::-webkit-datetime-edit-minute-field {
    padding: 0;
}

.booking__input-dt::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}

.booking__input-dt::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    inset: 0;
    width: auto;
    height: auto;
}

.booking__button-wrapper {
    max-width: 980px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.booking__button {
    border-radius: 10px;
    background-color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: var(--color-violet);
    padding: 13px 47px;
    border: 3px solid transparent;
    transition-duration: 0.3s;
}

.booking__button:hover {
    border: 3px solid var(--color-violet);
    background-color: var(--color-grey);
}

.booking__button:focus {
    border: 3px solid var(--color-violet);
    background-color: #fff;
}

.booking__button:active {
    background-color: var(--color-grey);
}

@media (max-width: 1100px) {
    .booking {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .booking__title {
        font-size: 30px;
        line-height: 133%;
        margin: 0 0 45px;
    }

    .booking__hall-text {
        font-size: 20px;
        width: 180px;
        padding: 7px 15px;
        line-height: 120%;
    }

    .booking__subtitle {
        margin-bottom: 25px;
    }

    .booking__intartaiment-wrapper {
        justify-content: flex-start;
        gap: 112px;
    }

    .booking__form-wrapper-date {
        min-width: 300px;
    }

    .booking__input {
        padding: 12px 15px;
    }

    .booking__input_width_300 {
        padding: 12px 20px;
    }


    .booking__button {
        font-size: 18px;
        line-height: 133%;
        padding: 9px 43px;
    }

    .booking__date-wrapper {
        margin-bottom: 50px;
    }

    .booking__input-square::before {
        width: 25px;
        height: 25px;
    }

    .booking__form-wrapper-name {
        flex-basis: 251px;
    }

    .booking__form-wrapper-contact {
        flex-basis: 254px;
    }

}