.booking {
    background-color: #440F51;
    padding-top: 80px;
    padding-bottom: 80px;
}

.booking__form-wrapper {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0 0 60px;
}

.booking__form-wrapper_wdt_980 {
    max-width: 980px;
    margin: 0 auto 60px;
}

.booking__form-wrapper:last-child {
    margin-bottom: 0;
}

.booking__wrapper-intertaiment {
    display: flex;
    justify-content: space-between;
}

.booking__wrapper-date {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 40px;
}

.booking__form-wrapper-inner {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.booking__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 60px;
}

.booking__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.booking__subtitle-inner {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: left;
    color: #fff;
    margin-bottom: 23px;
}

.booking__hall-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 7px 0 7px 0;
    flex-basis: 250px;
}


.booking__halls-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

.booking__variants-text {
    font-weight: 400;
    font-size: 22px;
    color: #fff;
}

.booking__input-circle {
    width: 27px;
    height: 27px;
    vertical-align: middle;
    margin-right: 12px;
}

.booking__input-square {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 12px;
}

.booking__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    margin-bottom: 6px;
}

.booking__input {
    border: none;
    margin-bottom: 14px;
    padding: 12px 20px;
    font-size: 18px;
    line-height: 156%;
}

.booking__input:last-child {
    margin-bottom: 0;
}

.booking__form-wrapper-date {
    border: none;
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    gap: 36px;
    padding: 0;
}

.booking__form-wrapper-name{
    border: none;
    display: flex;
    flex-basis: 280px;
    flex-direction: column;
    padding: 0;
}

.booking__form-wrapper-contact{
    border: none;
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    padding: 0;
}

.booking__date-time {
    display: flex;
    gap: 32px;
}

.booking__input-dt {
    max-width: 134px;
    width: 100%;
    padding: 12px 20px;
    border: none;
    line-height: 156%;
}

.booking__button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.booking__button {
    border-radius: 10px;
    background-color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #6c0287;
    padding: 16px 50px;
    border: none;
}


