.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    display: none;
}

.navigation__list {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 40px;
    padding-left: 0;
    margin: 0;
}

.navigation__item {
    margin: 0;
    align-items: center;
}

.navigation__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 227%;
    transition-duration: 0.3s;
}

.navigation__link:hover {
    color: var(--color-pink);
    background-size: 100% 2px;
}

.navigation__link:focus {
    color: var(--color-pink);
    outline: transparent;
}

.navigation__link:active {
    color: var(--color-pink);
}

.navigation__link {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
}

.navigation__button {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 136%;
    text-transform: uppercase;
    border: 3px var(--color-pink) solid;
    border-radius: 10px; 
    padding: 12px 32px;
    text-align: center;  
    transition-duration: 0.3s;
}

.navigation__button:hover {
    background-color: var(--color-violet);
    border: 3px solid var(--color-violet);
    min-width: 286px;
}

.navigation__button:focus {
    background-color: var(--color-violet);
    border: 3px solid var(--color-violet);
    min-width: 286px;
}

.navigation__button:active {
    background-color: var(--color-dark-purple);
    border: 1px solid #000;
    min-width: 286px;
}

@media (max-width: 1024px) {
    .header__logo {
        width: 87px;
        height: 55px;
    }

    .navigation__link {
        font-size: 18px;
    }

    .navigation__list {
        gap: 20px;
    }

    .navigation__button {
        font-size: 18px;
        padding: 7px 23px;
        line-height: 133%;
        border-radius: 8px;
    }
}

@media (max-width: 768px) {

}