.reviews__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 60px;
}

.reviews__list-wrapper {
    padding: 0 100px;
}

.reviews__text {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
    padding-top: 52px;
    width: calc(100% - 300px);
    max-width: 680px;
    vertical-align: top;
}

.reviews__list {
    padding-left: 0;
    margin: 0;
}

.reviews__items {
    list-style-type: none;
    position: relative;
    font-size: 0;
    margin-bottom: 50px;
}

.reviews__items:last-child {
    margin-bottom: 0;
}

.reviews__image-block {
    display: inline-block;
    margin: 0 20px 0 0;
}

.reviews__image-block::before {
    content: '';
    width: 280px;
    height: 280px;
    border-radius: 140%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgb(196, 196, 196) 0%, rgb(108, 2, 135) 100%);
    opacity: 50%;
}

.reviews__image {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
    vertical-align: top;
    margin-bottom: 11px;
}

.reviews__caption {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
}

@media (max-width: 1100px) {
    .reviews {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .reviews__title {
        font-size: 30px;
        margin-bottom: 26px;
    }

    .reviews__text {
        font-size: 18px;
        line-height: 144%;
        padding-top: 36px;
        width: calc(100% - 212px);
    }

    .reviews__image-block {
        margin: 0 38px 0 0;
    }

    .reviews__image { 
        width: 172px;
        height: 172px;
        margin-bottom: 21px;
    }

    .reviews__image-block::before {
        width: 172px;
        height: 172px;
    }

    .reviews__caption {
        font-size: 18px;
        line-height: 144%;
    }
    
    .reviews__items {
        margin-bottom: 40px;
    }

}